<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

### Fancy Planet HTML template.
### 
### When combined with the stylesheet and images in the output/ directory
### of the Planet source, this gives you a much prettier result than the
### default examples template and demonstrates how to use the config file
### to support things like faces
### 
### For documentation on the more boring template elements, see
### examples/config.ini and examples/index.html.tmpl in the Planet source.

<head>
<title><TMPL_VAR name></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">
<TMPL_IF feedtype>
<link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml">
</TMPL_IF>
<script>
function getNextElement(n) {
	//元素节点的节点类型是 1，
	//因此如果首个子节点不是一个元素节点，它就会移至下一个节点，
	//然后继续检查此节点是否为元素节点。
	//整个过程会一直持续到首个元素子节点被找到为止。
	var x = n.nextSibling;
	while(x.nodeType != 1) {
		x = x.nextSibling;
	}
	return x;
}
function visible(node) {
	var c = getNextElement(node);
	if (node.value == "hide") {
		c.style.display="none";
		node.value="show";
	}
	else {
		c.style.display="";
		node.value="hide";
	}
}
</script>
<style>
body {
font-family: "Trebuchet MS",Verdana, Helvetica, Arial, sans-serif;
font-size: 20pt;
padding:0;
margin:0;
}

.container {
width:640px;
margin-left:10px;
}
</style>
</head>

<body>
<div class="container">
<h1><TMPL_VAR name><TMPL_VAR new_date></h1>

<TMPL_LOOP Items>

<div class="channelgroup">

### Planet provides template variables for *all* configuration options for
### the channel (and defaults), even if it doesn't know about them.  We
### exploit this here to add hackergotchi faces to our channels.  Planet
### doesn't know about the "face", "facewidth" and "faceheight" configuration
### variables, but makes them available to us anyway.
<div class="entrygroup" id="<TMPL_VAR id>"<TMPL_IF channel_language> lang="<TMPL_VAR channel_language>"</TMPL_IF>>
<TMPL_IF title>
<h4<TMPL_IF title_language> lang="<TMPL_VAR title_language>"</TMPL_IF>><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
</TMPL_IF>
<input style="border-style: solid;border-width:1px;background:white;width:80%;font-size:20pt;" type="button" onclick="visible(this);" value="show">
<div class="entry" style="display:none">
<TMPL_IF channel_name>
<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name></a>
</TMPL_IF>
<TMPL_IF channel_face>
<img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="">
</TMPL_IF>
<div class="content"<TMPL_IF content_language> lang="<TMPL_VAR content_language>"</TMPL_IF>>
<TMPL_VAR content>
</div>

### Planet also makes available all of the information from the feed
### that it can.  Use the 'planet-cache' tool on the cache file for
### a particular feed to find out what additional keys it supports.
### Comment extra fields are 'author' and 'category' which we
### demonstrate below.

<p class="date">
<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF author>by <TMPL_VAR author> at </TMPL_IF><TMPL_VAR date><TMPL_IF category> under <TMPL_VAR category></TMPL_IF></a>
</p>
</div>
</div>
</div>

<TMPL_IF __LAST__>
### End <div class="channelgroup">
</div>
</TMPL_IF>
</TMPL_LOOP>


<h2>Subscriptions</h2>
<ul>
<TMPL_LOOP Channels>
<li>
<a href="<TMPL_VAR url ESCAPE="HTML">" title="subscribe"><img width="16px" height="16px" src="images/<TMPL_VAR face>" alt="<TMPL_VAR name>"></a><TMPL_VAR name></a>
</li>
</TMPL_LOOP>
</ul>

<p>
<strong>Last updated:</strong><br>
<TMPL_VAR date><br>
<em>All times are UTC.</em><br>
<br>
Powered by:<br>
<a href="http://www.planetplanet.org/"><img src="images/planet.png" width="80" height="15" alt="Planet" border="0"></a>
</p>
</div>
</body>

</html>
